@charset "UTF-8";

main {
  border-radius: 20px;
  width: 600px;
  padding: 10px;
  margin: auto;
  background-color: white;
}

body {
  font-family: monospace;
  /*
  Medidas Absolutas
  cm, mm, in, px, pt, pc

  Medidas Relativas
  em, ex, rem, vw, vh, %
  16px geralmente = 1em
  */
  font-size: 1.5em;
  text-align: justify;
  background-color: aquamarine;
}

h1,
h2 {
  text-align: center;
  /* shorthand font
  - font-style -> font-weight -> font-size -> font-family
  */
  font: italic bolder 2em 'sans-serif';
}

/*
font-weight: normal;
lighter normal bold bolder
font-style: normal, italic;
text-decoration: underline;
*/
