@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}
header h1 {
  padding-top: 50px;
  font-size: 10vw;
  font-family: var(--fonte2);
  font-weight: normal;
  font-variant: small-caps;
}
header p {
  font-family: var(--fonte1);
  font-weight: normal;
  padding-bottom: 50px;
}

main {
  font-family: var(--fonte3);
  font-weight: normal;
}

div {
  padding: 10vh 0px 10vh 30px;
  font-size: 3.5vw;

  line-height: 2em;
}
div.branco {
  background-color: white;
}
div.imagem {
  display: inline-block;
  background-color: #00000079;

  font-weight: normal;
  font-size: 1em;
  text-shadow: 1px 1px 0px #0000005b;
  color: white;
  padding: 0px;
}
div#flor {
  box-shadow: inset 6px 10px 13px 0px #0000003b;

  background-color: black;
  background-image: url('../imagens/background001.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
}
div#livro {
  box-shadow: inset 6px 10px 13px 0px #0000003b;

  background-color: black;
  background-image: url('../imagens/background002.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
}

footer {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
